body {
    font-family: 'Roboto', sans-serif;
    background: gray;
    justify-content: center;
    height: 1oovh;
}

.outerdiv {
    background: gray;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 51.6vw;
}

 .ig-post {
     background:white;
     flex-direction: column;
     height: 580px;
     width: 429px;
     justify-content: center;
     margin-right: 3px;
     margin-top: 22px;
     margin-bottom: 25px; 
     padding-bottom: 9px;
 }

.flex {
  display: flex;
}

.header {
    justify-content: space-between;
    padding: 8px;
 }

.h-icon {
    font-size: 25.5px;
    margin-right: 8px;
    margin-top: 11px;
    padding-left: 5px;   
}

.h-title {
    flex-direction: column;
    font-size: 13.8px;
    margin-top: 8px;
    padding-bottom: 4px;
}

.h-title p {
    margin: 0;
}

.h-ellipsis {
      justify-content: flex-end;
      font-size: 25px;
      padding-top: 11px;
      padding-right: 5px;
}

.image img {
     width: 429px;
     height: 322px;
     padding-top: 2px;
}

.icons {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-left:10px;
    font-size: 20px;
}

.icons i {
    font-size: 29px;
    padding: 1.2px;
}

.bookmark {
    justify-content: flex-end;
}

.bookmark i {
    font-size: 30px;
    padding-right: 22px;
}

.text {
    padding: 10px;
    font-size: 14px;
    padding-left: 13px;
    letter-spacing: .2px
}